html {
    background-color: gainsboro;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section {
    margin: 1rem 3rem;
    padding: 1rem;
    border: 2px solid black;
    background-color: azure;
    border-radius: 10px;
}

p {
    margin-top: 0.5rem;
}

button {
    cursor: pointer;
}

.section-juegos section {
    display: none;
}

#ykw1 {
    border: 2px solid blue;
    background-color: lightblue;
}

#ykw2 {
    border: 2px solid purple;
    background-color: lightpink;
}

#ykw3 {
    border: 2px solid orangered;
    background-color: orange;
}

#ykwb {
    border: 2px solid green;
    background-color: lightgreen;
}

.desaparecer {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 30px;
    float: right;
}

.botonBuscar {
    border: 1px solid black;
    background: linear-gradient(to right, aquamarine, lightgoldenrodyellow);
    padding: 0.3rem;
    border-radius: 5px;
}

.botonBuscar:hover {
    background: linear-gradient(to right, aqua, yellow);
}

.inputBuscar {
    padding: 0.2rem;
    border-radius: 5px;
}

#botonEstadisticas {
    border: 1px solid black;
    background: linear-gradient(to right, aquamarine, lightgoldenrodyellow);
    font-size: 20px;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

#botonEstadisticas:hover {
    background: linear-gradient(to right, aqua, yellow);
}

#estadisticas {
    display: none;
}

.infoBloque {
    padding: 1rem;
    display: none;
    margin-top: 1rem;
    border: 2px solid black;
    background-color: white;
    height: 8rem;
    border-radius: 10px;
}

.imagenInfo {
    width: 70px;
    float: left;
    margin-right: 1rem;
}

.tituloInfo {
    margin: 0 0 1rem 0;
    font-size: 30px;
    font-weight: bold;
}

.titulos {
    font-weight: bold;
    font-size: 30px;
    margin: 0.5rem 0 1rem 0.5rem;
}

#porcentajeTotalParrafo {
    font-weight: bold;
    font-size: 30px;
    margin: 0
}

.flexbox {
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexbox article {
    flex: 0 0 auto;
    width: 300px;
}

.infoBloque {
    width: 100%;
    padding: 1rem;
    display: none;
    margin-top: 1rem;
    border: 2px solid black;
    background-color: white;
}

.endpoints {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.endpoint-linea {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    width: 100%;
    font-size: 18px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.endpoint-linea span:nth-child(1) {
    text-align: right;
}

.get-endpoint {
    border: 1px solid black;
    background-color: lightgreen;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

.comando-endpoint {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.1rem 1rem;
    width: 20%;
}

.desc-endpoint {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.1rem 1rem;
    width: 40%;
}

#buscador-global-endpoints {
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
}

#buscador-global-link-ykw2 {
    font-size: 18px;
    border-radius: 5px;
    background-color: gray;
    padding: 0.2rem;
    border: 2px solid black;
    color: white;
}

#json-salida {
    display: none;
}

.codigo-json {
    font-size: 15px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

.div-resultado-endpoint {
    flex-basis: 100%;
}